.DS_Store

.metadata/
bin/
dependencies/
target/

org.eclipse.nebula.widgets.nattable.examples/NatTableExamples.jar
org.eclipse.nebula.widgets.nattable.examples/natTable.properties
org.eclipse.nebula.widgets.nattable.examples/src/examples.index
org.eclipse.nebula.widgets.nattable.examples/src/**/Issue*.java
