<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableElementAdapter"
            handler="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableCSSHandler">
         <property-name
               name="background-color">
         </property-name>
         <property-name
               name="background-image">
         </property-name>
         <property-name
               name="table-border-color">
         </property-name>
         <property-name
               name="fill-region-border">
         </property-name>
         <property-name
               name="fill-handle-border">
         </property-name>
         <property-name
               name="fill-handle-color">
         </property-name>
         <property-name
               name="freeze-separator-color">
         </property-name>
         <property-name
               name="freeze-separator-width">
         </property-name>
         <property-name
               name="tree-structure-painter">
         </property-name>
         <property-name
               name="painter-resolution">
         </property-name>
         <property-name
               name="painter">
         </property-name>
         <property-name
               name="render-grid-lines">
         </property-name>
         <property-name
               name="grid-line-color">
         </property-name>
         <property-name
               name="grid-line-width">
         </property-name>
         <property-name
               name="cell-background-color">
         </property-name>
         <property-name
               name="cell-background-image">
         </property-name>
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-align">
         </property-name>
         <property-name
               name="vertical-align">
         </property-name>
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
         <property-name
               name="image">
         </property-name>
         <property-name
               name="border">
         </property-name>
         <property-name
               name="border-color">
         </property-name>
         <property-name
               name="border-style">
         </property-name>
         <property-name
               name="border-width">
         </property-name>
         <property-name
               name="border-mode">
         </property-name>
         <property-name
               name="password-echo-char">
         </property-name>
         <property-name
               name="text-decoration">
         </property-name>
         <property-name
               name="word-wrap">
         </property-name>
         <property-name
               name="text-wrap">
         </property-name>
         <property-name
               name="text-trim">
         </property-name>
         <property-name
               name="text-direction">
         </property-name>
         <property-name
               name="line-spacing">
         </property-name>
         <property-name
               name="decoration">
         </property-name>
         <property-name
               name="invert-icons">
         </property-name>
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-bottom">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="percentage-decorator-colors">
         </property-name>
         <property-name
               name="conversion-error-font">
         </property-name>
         <property-name
               name="conversion-error-font-family">
         </property-name>
         <property-name
               name="conversion-error-font-size">
         </property-name>
         <property-name
               name="conversion-error-font-style">
         </property-name>
         <property-name
               name="conversion-error-font-weight">
         </property-name>
         <property-name
               name="conversion-error-background-color">
         </property-name>
         <property-name
               name="conversion-error-color">
         </property-name>
         <property-name
               name="validation-error-font">
         </property-name>
         <property-name
               name="validation-error-font-family">
         </property-name>
         <property-name
               name="validation-error-font-size">
         </property-name>
         <property-name
               name="validation-error-font-style">
         </property-name>
         <property-name
               name="validation-error-font-weight">
         </property-name>
         <property-name
               name="validation-error-background-color">
         </property-name>
         <property-name
               name="validation-error-color">
         </property-name>
         <property-name
               name="column-width">
         </property-name>
         <property-name
               name="row-height">
         </property-name>
         <property-name
               name="converter">
         </property-name>
      </handler>
      <handler
            adapter="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableWrapperElementAdapter"
            handler="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableCSSHandler">
         <property-name
               name="painter-resolution">
         </property-name>
         <property-name
               name="painter">
         </property-name>
         <property-name
               name="render-grid-lines">
         </property-name>
         <property-name
               name="grid-line-color">
         </property-name>
         <property-name
               name="grid-line-width">
         </property-name>
         <property-name
               name="cell-background-color">
         </property-name>
         <property-name
               name="cell-background-image">
         </property-name>
         <property-name
               name="color">
         </property-name>
         <property-name
               name="text-align">
         </property-name>
         <property-name
               name="vertical-align">
         </property-name>
         <property-name
               name="font">
         </property-name>
         <property-name
               name="font-family">
         </property-name>
         <property-name
               name="font-size">
         </property-name>
         <property-name
               name="font-style">
         </property-name>
         <property-name
               name="font-weight">
         </property-name>
         <property-name
               name="image">
         </property-name>
         <property-name
               name="border">
         </property-name>
         <property-name
               name="border-color">
         </property-name>
         <property-name
               name="border-style">
         </property-name>
         <property-name
               name="border-width">
         </property-name>
         <property-name
               name="border-mode">
         </property-name>
         <property-name
               name="password-echo-char">
         </property-name>
         <property-name
               name="text-decoration">
         </property-name>
         <property-name
               name="word-wrap">
         </property-name>
         <property-name
               name="text-wrap">
         </property-name>
         <property-name
               name="text-trim">
         </property-name>
         <property-name
               name="text-direction">
         </property-name>
         <property-name
               name="line-spacing">
         </property-name>
         <property-name
               name="decoration">
         </property-name>
         <property-name
               name="invert-icons">
         </property-name>
         <property-name
               name="padding">
         </property-name>
         <property-name
               name="padding-top">
         </property-name>
         <property-name
               name="padding-right">
         </property-name>
         <property-name
               name="padding-bottom">
         </property-name>
         <property-name
               name="padding-left">
         </property-name>
         <property-name
               name="percentage-decorator-colors">
         </property-name>
         <property-name
               name="conversion-error-font">
         </property-name>
         <property-name
               name="conversion-error-font-family">
         </property-name>
         <property-name
               name="conversion-error-font-size">
         </property-name>
         <property-name
               name="conversion-error-font-style">
         </property-name>
         <property-name
               name="conversion-error-font-weight">
         </property-name>
         <property-name
               name="conversion-error-background-color">
         </property-name>
         <property-name
               name="conversion-error-color">
         </property-name>
         <property-name
               name="validation-error-font">
         </property-name>
         <property-name
               name="validation-error-font-family">
         </property-name>
         <property-name
               name="validation-error-font-size">
         </property-name>
         <property-name
               name="validation-error-font-style">
         </property-name>
         <property-name
               name="validation-error-font-weight">
         </property-name>
         <property-name
               name="validation-error-background-color">
         </property-name>
         <property-name
               name="validation-error-color">
         </property-name>
         <property-name
               name="column-width">
         </property-name>
         <property-name
               name="row-height">
         </property-name>
         <property-name
               name="converter">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableElementProvider">
         <widget
               class="org.eclipse.nebula.widgets.nattable.NatTable"></widget>
      </provider>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.elementProvider">
      <provider
            class="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableElementProvider">
         <widget
               class="org.eclipse.nebula.widgets.nattable.extension.e4.css.NatTableWrapper">
         </widget>
      </provider>
   </extension>

</plugin>
